body {
  background-color: #e0ffff;
}

.container {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  text-transform: uppercase;
  color: #2f4f4f !important;
  font-family: "tinos";
  font-size: 60px !important ;
  letter-spacing: 10px;
  font-weight: 700;
  font-style: italic;
}
p {
  font-size: 25px;
  font-family: "Fira-code";
}

.about {
  height: auto;
  width: 80vw;
  display: block;
  margin-left: 250px;
}
.aboutSkill {
  height: auto;
  width: 80vw;
  display: block;
  margin-left: 250px;
  margin-bottom: 40px;
}
.aboutProject {
  width: 80vw;
  height: 60vh;
  margin-left: 250px;
}

.count {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 30px;
}
.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.photo-container img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

input::placeholder {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 5px;
}
.message:hover {
  background-color: #d3d3d3;
}
